@import url('https://fonts.googleapis.com/css2?family=Rubik+Scribble&display=swap');
@import './base.css';

@font-face {
    font-family: FadedFrontiers;
    src: url("./FadedFrontiersBB-Regular.otf") format("opentype");
}

.title {
    text-align: center;
    font-family: "Rubik Scribble", system-ui;
    font-weight: 900;
    font-size: 14vmin;
}

.text {
    font-family: "FadedFrontiers", system-ui;
    font-size: 2.5vmin;
}

@media screen and (max-width: 600px) {
    .text {
        font-family: "FadedFrontiers", system-ui;
        font-size: 5vmin;
    }
}